<h1>The legends of Kalamatian souvlakia</h1>

<div class = "description">
<p> This webpage features the stories about 
the legendary souvlakia of Kalamata - exactly 5 distinct types of souvlaki 
you can discover all around Kalamata. Dive in into the stories of souvlakia
and learn everything about them yourself!</p>
</div>

<ul class = "articles">
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>

<%= link_to '<button type="button">New Post</button>'.html_safe, new_article_path %>
