h1{
    font-family:'Batang';
    text-align: center;
}
a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

br{
    line-height: 20px;
}
#description-container{   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.description{
    display: flex;
    justify-content: center;
    /*margin-bottom: 70px;*/
    flex-wrap: wrap;
}
.description p{
    height: fit-content;
    width: 40%;
    font-family: 'Batang';
    font-style: italic;
    text-align: center;
}

.posts-container{
    display: flex;
    justify-content: center;
}
.articles{
    width: 40%;
    font-family:'Batang';
    font-size: large;
    font-weight: bold;
}
.articles br{
    line-height: 5px;
}
.articles li{
    font-size: 16px;
    border-bottom: 1px solid black;
    margin-bottom: 25px;
}

.short-text{
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 20px;
}

.body-text{
    width: 60%;
    text-align: justify;
    font-family:'Batang';
}

.buttons-centered{
    display:flex;
    justify-content:center;
}

.errors{
    font-size: 10px;
    color: red;
}